@mixin h1() {
  font-size: 2em;
  margin-bottom: .5em;

  @include respondTo(medium) {
    font-size: 2.5em;
    margin-bottom: 0.33em;
  }
}

@mixin h2() {
  font-size: 1.5em;
  margin: 1.33em 0 .66em;

  @include respondTo(medium) {
    font-size: 2em;
    margin: 1em 0 0.5em;
  }
}

@mixin h3() {
  font-size: 1.2em;
  margin: 1.67em 0 .83em;

  @include respondTo(medium) {
    font-size: 1.5em;
    margin: 1.33em 0 .66em;
  }
}