<div class="articleTable">
    <table>
        <tbody>
        <tr>
            <td>&nbsp;</td>
            <td>URL</td>
            <td>PAYLOAD</td>
            <td>METHOD</td>
            <td>OTHER</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/</td>
            <td>&nbsp;</td>
            <td>PROPFIND</td>
            <td>http.header.if</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/7788.php</td>
            <td>7788=die('Hello, Peppa!'.(string)(123456789*9))</td>
            <td>POST</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/9678.php</td>
            <td>h=die('Hello, Peppa!'.(string)(123456789*9));</td>
            <td>POST</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/PMA/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/PMA2/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/admin/PMA/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/admin/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/admin/mysql/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/admin/mysql2/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/admin/phpMyAdmin/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/admin/phpmyadmin/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/admin/phpmyadmin2/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/admin/pma/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/claroline/phpMyAdmin/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/db.init.php</td>
            <td>eval=die('Hello, Peppa!'.(string)(123456789*9));</td>
            <td>POST</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/db/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/db_session.init.php</td>
            <td>eval=die('Hello, Peppa!'.(string)(123456789*9));</td>
            <td>POST</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/dbadmin/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/feixiang.php</td>
            <td>feixiang=die('Hello, Peppa!'.(string)(123456789*9));</td>
            <td>POST</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/mx.php</td>
            <td>mx=die('Hello, Peppa!'.(string)(123456789*9))</td>
            <td>POST</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/myadmin/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/myadmin2/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/mysql-admin/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/mysql/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/mysqladmin/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/phpMyAdmin.old/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/phpMyAdmin/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/phpMyAdmin/phpMyAdmin/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/phpMyAdminold/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/phpMyadmin_bak/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/phpadmin/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/phpma/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/phpmyadmin-old/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/phpmyadmin/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/phpmyadmin/phpmyadmin/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/phpmyadmin0/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/phpmyadmin1/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/phpmyadmin2/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/phpstudy.php</td>
            <td>0=die('Hello, Peppa!'.(string)(123456789*9));</td>
            <td>POST</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/pma-old/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/pma/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/pmamy/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/pmamy2/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/pmd/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/qq.php</td>
            <td>c=die('Hello, Peppa!'.(string)(123456789*9));</td>
            <td>POST</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/s.php</td>
            <td>leng=die('Hello, Peppa!'.(string)(123456789*9));</td>
            <td>POST</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/sheep.php</td>
            <td>m=die('Hello, Peppa!'.(string)(123456789*9))</td>
            <td>POST</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/tools/phpMyAdmin/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/typo3/phpmyadmin/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/w.php</td>
            <td>leng=die('Hello, Peppa!'.(string)(123456789*9));</td>
            <td>POST</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/wc.php</td>
            <td>1=die('Hello, Peppa!'.(string)(123456789*9));</td>
            <td>POST</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/web/phpMyAdmin/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/webdav/</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/weixiao.php</td>
            <td>weixiao=die('Hello, Peppa!'.(string)(123456789*9));</td>
            <td>POST</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/wuwu11.php</td>
            <td>h=die('Hello, Peppa!'.(string)(123456789*9));</td>
            <td>POST</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/www/phpMyAdmin/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/xampp/phpmyadmin/index.php</td>
            <td>&nbsp;</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>/xw.php</td>
            <td>h=die('Hello, Peppa!'.(string)(123456789*9));</td>
            <td>POST</td>
        </tr>
        </tbody>
    </table>
</div>