.articleMain {
  flex-grow: 1;
}

.articleHeader {
  margin-bottom: 2em;

  @include respondTo(medium) {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .articleTitle {
    font-size: 3em;
  }

  .lastUpdated {
    color: #999;
  }

  .editArticle {
    background: #eee;
    color: black;
    padding: 5px 15px;
    border-radius: 20px;
    text-decoration: none;
  }
}

.articleContent {

  h1 {
    font-size: 3em;
    margin-bottom: .33em;
  }

  h2 {
    font-size: 2em;
    margin: 1em 0 .5em;
  }

  h3 {
    font-size: 1.5em;
    margin: 1.33em 0 .66em;
  }

  p {
    margin-bottom: 1em;
  }

  img {
    max-width: 100%;
    zoom: 50%;
  }

  blockquote {
    background: $yellow800;
    color: $yellow100;
    border-left: 3px solid $yellow100;
    padding: 1em;
    margin-bottom: 1em;

    p:last-child {
      margin-bottom: 0;
    }
  }

  code.highlighter-rouge,
  div.highlighter-rouge {
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-family: monospace;
    font-size: .9em;
  }

  code.highlighter-rouge {
    padding: 0 3px;
  }

  div.highlighter-rouge {
    padding: .5em;
    margin-bottom: 1em;

    pre {
      white-space: pre-wrap;
      max-width: 100%;
    }
  }

  video {
    max-width: 100%;
    margin-bottom: 1em;
  }

  strong {
    font-weight: 600;
  }

  ul {
    list-style: disc inside;
    margin-bottom: 1em;
  }

  ol {
    list-style: decimal inside;
    margin-bottom: 1em;
  }
}