.articleMain {
  flex-grow: 1;
}

.articleHeader {
  margin-bottom: 1em;
  word-break: break-word;

  @include respondTo(medium) {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .breadcrumbs {
    margin-bottom: 1em;
  }

  .articleTitle {
    @include h1();
    margin-bottom: 0 !important;
  }

  .editArticle {
    background: #eee;
    color: black;
    padding: 5px 15px;
    border-radius: 20px;
    text-decoration: none;
  }
}

.articleContent {
  margin-bottom: 2em;

  h1 {
    @include h1();
  }

  h2 {
    @include h2();
  }

  h3 {
    @include h3();
  }

  p {
    margin-bottom: 1em;
  }

  img {
    max-width: 100%;
    zoom: 50%;
    display: block;
  }

  blockquote {
    background: $yellow800;
    color: $yellow100;
    border-left: 3px solid $yellow100;
    padding: 1em;
    margin-bottom: 1em;

    p:last-child {
      margin-bottom: 0;
    }
  }

  code.highlighter-rouge,
  div.highlighter-rouge {
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-family: monospace;
    font-size: .9em;
  }

  code.highlighter-rouge {
    padding: 0 3px;
    white-space: pre-wrap;
    word-break: break-word;
  }

  div.highlighter-rouge {
    padding: .5em;
    margin-bottom: 1em;

    pre {
      white-space: pre-wrap;
      word-break: break-word;
      max-width: 100%;
    }
  }

  video {
    max-width: 100%;
    margin-bottom: 1em;
  }

  strong {
    font-weight: 600;
  }

  ul {
    list-style: disc inside;
    margin-bottom: 1em;
  }

  ol {
    list-style: decimal inside;
    margin-bottom: 1em;
  }

  li {
    word-break: break-word;
  }

  .articleTable {
    max-width: 100%;
    overflow-x: auto;
    margin-bottom: 1em;
  }

  td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
    color: black;
  }
}