.articleContent {
  position: relative;
  flex-grow: 1;

  .editArticle {
    position: absolute;
    top: 0;
    right: 0;
    background: #eee;
    color: black;
    padding: 5px 15px;
    border-radius: 20px;
    text-decoration: none;
  }

  h1 {
    font-size: 3em;
    margin-bottom: .33em;
  }

  h2 {
    font-size: 2em;
    margin: 1em 0 .5em;
  }

  p {
    margin-bottom: 1em;
  }

  img {
    max-width: 100%;
    zoom: 50%;
  }

  blockquote {
    background: $yellow800;
    color: $yellow100;
    border-left: 3px solid $yellow100;
    padding: 1em;
    margin-bottom: 1em;

    p:last-child {
      margin-bottom: 0;
    }
  }

  code {
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 3px;
    white-space: nowrap;
    padding: 0 3px;
  }

  video {
    max-width: 100%;
    margin-bottom: 1em;
  }

  strong {
    font-weight: 600;
  }

  ul {
    list-style: disc inside;
    margin-bottom: 1em;
  }
}