.indexTitle {
  text-align: center;

  @include h1();
}

.indexSubtitle {
  text-align: center;
  margin-bottom: 2em;
}

.gettingStartedOption {
  margin-bottom: 1em;
}

.indexSection {
  margin-bottom: 2em;
}

.indexSectionTitle {
  @include h1();
}

.indexList {
  @include respondTo(medium) {
    display: flex;
    margin: 0 -20px;
  }
}

.indexArticle {
  margin-bottom: 1em;

  @include respondTo(medium) {
    width: 33.33%;
    padding: 0 20px;
    margin-bottom: 0;
  }
}

.indexArticleTitle {
  font-size: 1.5em;
}

.indexArticleLink {
  color: $blue700;
  text-decoration: none;
}