.container {
  margin: 0 10px;

  @include respondTo(medium) {
    width: 960px;
    margin: 0 auto;
  }
}

.marijaLogo {
  height: 40px;
  margin-right: 10px;
}

.marijaText {
  font-size: 2em;
  font-weight: 300;
}

.header {
  padding: 1em 0;
  background: #4C657F;
  color: white;
  margin-bottom: 20px;
}

.marijaHeading {
  display: flex;
  align-items: center;
}

.logoLink {
  color: white;
  text-decoration: none;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article {
  margin-bottom: 2em;

  @include respondTo(medium) {
    display: flex;
    align-items: start;
  }
}

.articleAside {
  background: #eee;
  border: #ddd;
  border-radius: 3px;
  padding: 1em;
  margin-bottom: 2em;

  @include respondTo(medium) {
    margin-right: 2em;
    width: 250px;
    flex-shrink: 0;
  }
}

.articleAsideSection {
  margin-bottom: 1em;
}