@import 'reset';
@import 'colors';

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Thin.eot');
  src: local('Roboto Thin'), local('Roboto-Thin'), url('/assets/fonts/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Roboto/Roboto-Thin.woff2') format('woff2'), url('/assets/fonts/Roboto/Roboto-Thin.woff') format('woff'), url('/assets/fonts/Roboto/Roboto-Thin.ttf') format('truetype'), url('/assets/fonts/Roboto/Roboto-Thin.svg#Roboto') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Regular.eot');
  src: local('Roboto Regular'), local('Roboto-Regular'), url('/assets/fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Roboto/Roboto-Regular.woff2') format('woff2'), url('/assets/fonts/Roboto/Roboto-Regular.woff') format('woff'), url('/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype'), url('/assets/fonts/Roboto/Roboto-Regular.svg#Roboto') format('svg');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
}

a {
  color: $blue700;
}

* {
  box-sizing: inherit;
}

.current {
  color: green;
}

.primaryButton {
  background: $blue500;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  text-decoration: none;
}

@import 'mixins/respondTo';
@import 'layout';
@import 'navigation';
@import 'index';
@import 'article';