.navigation {
  display: flex;
  flex-direction: column;

  @include respondTo(medium) {
    flex-direction: row;
  }
}

.navigationItem {
  text-decoration: none;
  color: white;
  display: block;
  padding: 5px 10px;
  border-radius: 20px;
  margin-left: auto;

  @include respondTo(medium) {
    margin-left: 40px;
    padding: 5px 20px;
  }

  &.active {
    background: white;
    color: black;
  }
}