---
layout: default
---
<div class="article">
    <main class="articleMain">
        <header class="articleHeader">
            <div class="articleHeaderLeft">
                <p class="breadcrumbs">
                    <!-- {{ site.git | jsonify }} {{ page.git | jsonify }} updated 3 -->
                    <a href="{% if site.baseurl == '' or site.baseurl == nil %}/{% else %}{{ site.baseurl }}{% endif %}">Documentation</a>
                    &gt;
                    {{ page.title }}
                </p>
                <h1 class="articleTitle">{{ page.title }}</h1>
            </div>
        </header>

        <div class="articleContent">
            {{content}}
        </div>

        <footer class="articleFooter">
            <a class="openIssue" href="https://github.com/marijaio/marija-docs/issues/new?title=Improvements to {{ page.title }}">Suggest improvements</a>
            <a class="editArticle" href="https://github.com/marijaio/marija-docs/edit/master{{ page.dir }}{{ page.path }}">Edit this page</a>
        </footer>
    </main>

    <aside class="articleAside">
        <h1 class="articleAsideTitle">More articles</h1>

        {% for section in site.data.articles %}
        <section class="articleAsideSection">
            <h2>{{section.title}}</h2>
            <ul>
                {% for article in section.articles %}
                <li><a class="articleAsideLink" href="{{ site.baseurl }}{{article.link}}">{{article.title}}</a></li>
                {% endfor %}
            </ul>
        </section>
        {% endfor %}
    </aside>
</div>