---
layout: default
---
<div class="article">
    <aside class="articleAside">
        {% for section in site.data.articles %}
        <section class="articleAsideSection">
            <h1 class="articleAsideTitle">{{section.title}}</h1>
            <ul>
                {% for article in section.articles %}
                <li><a class="articleAsideLink" href="{{ site.baseurl }}{{article.link}}">{{article.title}}</a></li>
                {% endfor %}
            </ul>
        </section>
        {% endfor %}
    </aside>

    <main class="articleMain">
        <header class="articleHeader">
            <div class="articleHeaderLeft">
                <h1 class="articleTitle">{{ page.title }}</h1>
                <p class="lastUpdated">Last updated on {{ page.git.last_commit.commit_date }}</p>
            </div>
            <a class="editArticle" href="https://github.com/marijaio/marija-docs/edit/master{{ page.dir }}{{ page.path }}">Improve this page</a>
        </header>

        <div class="articleContent">
            {{content}}
        </div>
    </main>
</div>