<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} &dash; {% endif %}Marija docs</title>
    <link rel="stylesheet" href="{{ site.url }}/assets/css/styles.css">
    <link rel="icon" href="{{ site.url }}/assets/images/favicon.png">
    <base href="{{ site.url }}">
</head>
<body>

<header class="header">
    <div class="container headerContainer">
        <a class="logoLink" href="https://marija.io">
            <h1 class="marijaHeading">
                <img src="/assets/images/marija.png" class="marijaLogo" />
                <span class="marijaText">Marija</span>
            </h1>
        </a>
        {% include navigation.html %}
    </div>
</header>

<div class="container">
    {{ content }}
</div>

</body>
</html>