<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>

<header class="header">
    <div class="container headerContainer">
        <h1 class="marijaHeading">
            <img src="/assets/images/marija.png" class="marijaLogo" />
            <span class="marijaText">Marija</span>
        </h1>
        {% include navigation.html %}
    </div>
</header>

<div class="container">
    {{ content }}
</div>

</body>
</html>